<div class="footer-top pb-5 pt-5 ">
    <div class="container" style="max-width:1500px;">
        <div class="row ">
            <div class="col-md-4 ">
                <a href="# ">
                    <h6 class="pb-2 ">LIÊN HỆ</h6>
                </a>
                <a href="# ">
                    Tư vấn khách hàng:
                </a>
                <br>
                <a href="# " style="color: #fff; font-size: 40px; ">
                    +84 363 052 545
                </a>
                <br>
                <a href="# ">
                    Website: HDStore.com
                </a>
                <br>
                <a href="# ">
                    70 Nguyễn Huệ - TP Huế - Tỉnh Thừa Thiên Huế
                </a>
                <br>
                <div class="elementor-img pt-3 ">
                    <a href=" ">
                        <img width="140 " height="43 " src="../images/google.png " alt=" ">
                        <img width="140 " height="43 " src="../images/iphone.png " alt=" ">
                    </a>
                </div>

            </div>
            <div class="col-md-2 ">

                <a href="# ">
                    <h6 class="pb-2 ">CÔNG TY</h6>
                </a>

                <a href="# ">
                    Giới thiệu
                </a>
                <br>
                <a href="# ">
                    Giao hàng - Đổi trả
                </a>
                <br>
                <a href="# ">
                    Chính sách bảo mật
                </a>
                <br>
                <a href="# ">
                    Sản phẩm cửa hàng
                </a>
                <br>
                <a href="# ">
                    Giỏ hàng của tôi
                </a>
                <br>
                <a href="# ">
                    Liên hệ chúng tôi
                </a>
                <br>
            </div>
            <div class="col-md-2 ">

                <a href="# ">
                    <h6 class="pb-2 ">TRỢ GIÚP</h6>
                </a>
                <a href="# ">
                    Hướng dẫn mua hàng
                </a>
                <br>
                <a href="# ">
                    Trợ giúp thanh toán
                </a>
                <br>
                <a href="# ">
                    Tài khoản giao dịch
                </a>
                <br>
                <a href="# ">
                    Chăm sóc khách hàng
                </a>
                <br>
                <a href="# ">
                    Miễn phí vận chuyển
                </a>
                <br>
                <a href="# ">
                    Bảo hành tận nhà
                </a>
            </div>
            <div class="col-md-4 ">
                <a href="# ">
                    <h6 class="pb-2 ">
                        ĐỊA ĐIỂM CỦA CHÚNG TÔI</h6>
                </a>
                <div class="img-map pt-3 " style="height: 200px; ">
                    <img src="../images/bando.png" width="100%" height="190" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom pb-2 pt-2 ">
    <div class="container" style="max-width:1500px;">
        <div class="row ">
            <div class="text-ft-bt col-md-6 ">
                Bản quyền thuộc về HDStore.com
            </div>
            <div class=" img-ft-bt col-md-6 text-right ">
                <img width="223 " height="24 " src="../images/paymet-1.png " alt=" ">
            </div>
        </div>
    </div>
</div>
</div>