<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="header">
        <% include ../partials/header %>
    </div>
    <div class="mainintroduce pt-5 pb-5">
        <div class="container">
            <div class="textheadrlogin">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/">Trang chủ </a><span><i class="fa fa-angle-right"
                                aria-hidden="true"></i></span><label for="">Giới thiệu</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <div>
                            <h5>GIỚI THIỆU VỀ CỬA HÀNG</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modau pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="noidung col-md-6">
                        <h3>Cửa hàng Apple HDStore</h3>
                        <p class="pt-2">HDStore được thành lập tại Việt Nam vào năm 2020 với tư cách là đại lý bán lẻ cao cấp của apple (APR) và Nhà cung cấp dịch vụ Apple (ASP). Chúng tôi mang đến những sản phẩm mới nhất của Apple cho người tiêu dùng Việt Nam, cho phép
                            họ tiếp cận với hàng hóa và dịch vụ “chính hãng”.</p>
                        <div class="icon">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                            <p class="pl-5">HDStore mang đầy đủ các sản phẩm của Apple, phụ kiện của Apple và phụ kiện của bên thứ ba được Apple ủy quyền trong tất cả các cửa hàng của chúng tôi. Nguồn nhân lực được đào tạo của chúng tôi đã hoàn thành khóa đào tạo chính
                                thức của Apple để cung cấp dịch vụ chất lượng cho người tiêu dùng.</p>
                            <i class="fa fa-quote-right" style="float: right;" aria-hidden="true"></i>
                        </div>
                        <p class="pt-5">Chuyên gia bán hàng của chúng tôi đều được đào tạo bởi Apple và sẽ làm hài lòng khách hàng với giới thiệu chi tiết về những phát minh của Apple trong các tính năng của Mac OS và iOS. Kiến thức chuyên sâu của họ về các tính năng
                            của sản phẩm sẽ giúp khách hàng lựa chọn các sản phẩm phù hợp nhất cho nhu cầu cá nhân của họ.</p>
                    </div>
                    <div class="video col-md-6">
                        <iframe width="100%" height="450" src="https://www.youtube.com/embed/7Glc2mHLPRM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="hinhthuc pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="like col-md-3 text-center">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <p class="pl-3"><b>100% SỰ THỎA MÃN</b><br> Nếu bạn không thể</p>
                    </div>
                    <div class="tien col-md-3 text-center">
                        <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                        <p class="pl-3"><b>TIẾT KIỆM 20% KHI</b><br>Sử dụng thẻ tín dụng</p>
                    </div>
                    <div class="vanchuyen col-md-3 text-center">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <p class="pl-3"><b>GIAO HÀNG MIỄN PHÍ</b><br>Bất cứ bạn ở đâu</p>
                    </div>
                    <div class="tietkiem col-md-3 text-center">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <p class="pl-3"><b>KIẾM TIỀN 60 NGÀY</b><br>Nếu bạn không thể</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ourteam pt-5 pb-4">
            <div class="sanglap text-center">
                <h2>thành viên sáng lập</h2>
                <img src="images/icon-title.png" alt="">
            </div>
            <div class="thanhvien pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="images/ourteam.jpg" alt="">
                            <h4 class="pt-4">Nguyễn thanh hải</h4>
                            <div class="theodoi">
                                <a href="https://www.instagram.com/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="images/ourteam1.jpg" alt="">
                            <h4 class="pt-4">nguyễn đình bảo</h4>
                            <div class="theodoi">
                                <a href="https://www.instagram.com/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="images/ourteam2.jpg " alt="">
                            <h4 class="pt-4">nguyễn văn hoàng</h4>
                            <div class="theodoi">
                                <a href="https://www.instagram.com/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="images/ourteam3.jpg" alt="">
                            <h4 class="pt-4">lê minh thiện</h4>
                            <div class="theodoi">
                                <a href="https://www.instagram.com/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <% include ../partials/footer %>
    </div>
    <script>
        //<![CDATA[
        $('input.input-qty').each(function() {
                var $this = $(this),
                    qty = $this.parent().find('.is-form'),
                    min = Number($this.attr('min')),
                    max = Number($this.attr('max'))
                if (min == 0) {
                    var d = 0
                } else d = min
                $(qty).on('click', function() {
                    if ($(this).hasClass('minus')) {
                        if (d > min) d += -1
                    } else if ($(this).hasClass('plus')) {
                        var x = Number($this.val()) + 1
                        if (x <= max) d += 1
                    }
                    $this.attr('value', d).val(d)
                })
            })
            //]]>
            //srcoll-to-top
        $(document).ready(function() {
            $('body').append('<div id="toTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>');
            $(window).scroll(function() {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function() {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });
    </script>
    </script>
</body>
</html>