<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="header">
        <% include ../partials/header %>
    </div>
    <div class="maintechnology pt-5 pb-5">
        <div class="container">

            <div class="textheadrlogin">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/">Trang chủ </a><span><i class="fa fa-angle-right"
                                aria-hidden="true"></i></span><label for="">Công nghệ</label>
                    </div>
                    <div class="col-md-6 text-right">
                        <div>
                            <h5>BẢN TIN CÔNG NGHỆ</h5>
                        </div>

                    </div>
                </div>
            </div>



            <div class="img-technology pt-5">
                <div class="container">
                    <div class="row">
                        <div class="img1 col-md-6">
                            <div class="tk-text">
                                <h5><a href="#">CPU - Trái tim Smartphone và những điều bạn cần biết</a></h5>
                                <div class="postmeta">
                                    <span>Ngọc Hải - Thứ 7 30/5/2020</span>

                                </div>
                            </div>
                            <span class="n-note">Bản tin công nghệ</span>
                            <a href="#" title="CPU - Trái tim Smartphone và những điều bạn cần biết">
                                <img src="images/cpu.jpg" alt="">
                            </a>
                        </div>
                        <div class="img2 col-md-6">
                            <div class="tk-text">
                                <h5><a href="#">Apple bất ngờ tung bản cập nhật iOS 13.5.1 và iPadOS 13.5.1, fix lỗ hổng
                                        bẻ
                                        khóa unc0ver</a></h5>
                                <div class="postmeta">
                                    <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                                </div>
                            </div>
                            <span class="n-note">Bản tin công nghệ</span>
                            <a href="#">
                                <img src="images/img7.jpg" title="Apple bất ngờ tung bản cập nhật iOS 13.5.1 và iPadOS 13.5.1, fix lỗ hổng bẻ khóa unc0ver" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img3 col-md-4 pt-4">
                            <div class="tk-text">
                                <h5><a href="#">Apple kêu gọi người dùng lên iOS 13.5</a></h5>
                                <div class="postmeta">
                                    <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                                </div>
                            </div>

                            <a href="#">
                                <img src="images/img11.jpg" title="Apple kêu gọi người dùng cập nhật iOS 13.5 càng sớm càng tốt" style="width: 100%;" alt="">
                            </a>
                        </div>
                        <div class="img4 col-md-4 pt-4">
                            <div class="tk-text">
                                <h5><a href="#">Đừng mua iPhone lock: Vì những lý do sau</a></h5>
                                <div class="postmeta">
                                    <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                                </div>
                            </div>
                            <a href="#">
                                <img src="images/img12.png" title="Đừng mua iPhone lock: Vì những lý do sau" style="width: 100%;" alt="">
                            </a>
                        </div>

                        <div class="img5 col-md-4 pt-4">
                            <div class="tk-text">
                                <h5><a href="#">iPad 2017 – Máy tính bảng đáng mua nhất </a></h5>
                                <div class="postmeta">
                                    <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                                </div>
                            </div>
                            <a href="#">
                                <img src="images/img5.jpg" title="iPad 2017 – Máy tính bảng đáng mua nhất để học online" style="width: 100%;" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-technology pt-5">
                <div class="container">
                    <div class="row">
                        <div class="img-cn col-md-3">
                            <img src="images/cpu.jpg" alt="">
                        </div>
                        <div class="textcn col-md-6">
                            <div class="tieude pb">
                                <a href="#">
                                    <h4>CPU – Trái tim smartphone và những điều bạn cần biết</h4>
                                </a>
                            </div>
                            <div class="postmeta pb-2">
                                <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                            </div>
                            <div class="noidung">
                                <p>Là người dùng smartphone, chắc hẳn bạn đã từng được nghe nhắc đến CPU – cơ quan đầu não nắm giữ vai trò trung tâm điều khiển trên mỗi điện thoại. Tuy nhiên không phải ai cũng thực sự hiểu rõ về nó. Do vậy, trong nội dung
                                    bài viết dưới đây, Di Động Thông Minh sẽ tổng hợp và phân tích về “CPU – Trái tim smartphone và những điều bạn cần biết” với hy vọng bài viết là…</p>
                            </div>
                        </div>
                        <div class="textcn1 col-md-3">
                            <form action="" class="search pb-4">
                                <input type="text" placeholder="Bạn cần tìm bài viết...">
                                <button class="lsb" type="text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                            <span class="text-link">
                                Tin xem nhiều
                            </span>
                            <div class="tintuc">
                                <div class="tintuc1">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-5">
                                            <img src="images/tintuc1.jpg" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-5">
                                            <a href="#">
                                                <p>Mẹ tôi và iPhone SE: Nó nhanh như máy tuốt lúa con ạ!</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img-cn col-md-3 pt-5">
                            <img src="images/img12.png" alt="">
                        </div>
                        <div class="textcn col-md-6 pt-5">
                            <div class="tieude pb">
                                <a href="#">
                                    <h4>Đừng mua iPhone lock: Vì những lý do sau</h4>
                                </a>
                            </div>
                            <div class="postmeta pb-2">
                                <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                            </div>
                            <div class="noidung">
                                <p>iPhone lock là iPhone được bán ra kèm hợp đồng của nhà mạng. Máy được quản lý theo số IMEI với phần cứng hoàn toàn như nhau. Đặc thù của máy lock là: chỉ dùng được sim của nhà mạng có hợp đồng theo kèm đó. Một ví dụ cụ
                                    thể, dễ hiểu hơn đó là: máy lock của Viettel thì chỉ sử dụng được sim Viettel...</p>
                            </div>
                        </div>
                        <div class="textcn1 col-md-3">
                            <div class="tintuc">
                                <div class="tintuc1">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/tintuc2.jpg" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                <p>Cơn lốc iPhone 6S Plus trôi bảo hành cực rẻ hút khách</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tintuc">
                                <div class="tintuc1">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/tintuc3.jpg" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                <p>Chép nhạc từ máy tính vào iPhone/iPad qua Wifi cực nhanh</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img-cn col-md-3 pt-5">
                            <img src="images/iPhone12.jpg" alt="">
                        </div>
                        <div class="textcn col-md-6 pt-5">
                            <div class="tieude pb">
                                <a href="#">
                                    <h4>iPhone 12 Flip màn hình gập xuất sắc của Apple</h4>
                                </a>
                            </div>
                            <div class="postmeta pb-2">
                                <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                            </div>
                            <div class="noidung">
                                <p>Quên hết các smartphone khác đi vì hiện tại chỉ có iPhone 12 mới là cái tên được người dùng chú ý nhiều nhất. Sự bàn tán không ngưng của các tín đồ công nghệ về concept iPhone 12 thời điểm này đủ để chứng tỏ độ hot nó mang
                                    lại. Và dù chưa phải là thiết kế chính thức nhưng concept iPhone 12 Flip màn hình gập xuất sắc của Apple... </p>
                            </div>
                        </div>
                        <div class="textcn1 col-md-3">
                            <div class="tintuc">
                                <div class="tintuc1">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/tintuc3.jpg" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                <p>Mời đặt hàng iPhone X CPO mới 100% tiết kiệm tới 5 triệu</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tintuc">
                                <div class="tintuc1">
                                    <div class="row">
                                        <div class="img-tieude col-md-4 pt-4">
                                            <img src="images/tintuc4.jpg" alt="">
                                        </div>
                                        <div class="text-tieude col-md-5 pt-4">
                                            <a href="#">
                                                <p>Hướng dẫn tạo nhạc chuông cho điện thoại iPhone</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img-cn col-md-3 pt-5">
                            <img src="images/iphone-12.jpg" alt="">
                        </div>
                        <div class="textcn col-md-6 pt-5">
                            <div class="tieude pb">
                                <a href="#">
                                    <h4>Tổng hợp tin đồn xoay quanh iPhone 12</h4>
                                </a>
                            </div>
                            <div class="postmeta pb-2">
                                <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                            </div>
                            <div class="noidung">
                                <p>Apple – cái tên mà chỉ nhắc đến thôi đã làm bao con tim người dùng xao xuyến. Họ chính là nhà sản xuất smartphone lừng danh nhất thế giới về những tinh chỉnh cấu hình cùng hiệu năng trang bị trên mỗi sản phẩm con đẻ của
                                    mình. Theo dòng chảy thời gian, Táo khuyết đã phát hành nhiều dòng iPhone đa dạng phân khúc giá để phục vụ người dùng....
                                </p>
                            </div>
                        </div>
                        <div class="textcn1 col-md-3">
                            <span class="text-link">
                                Sản phẩm
                            </span>
                            <div class="tintuc pt-5">
                                <div class="tintuc2">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/iphone7plus.png" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                Iphone 7 Plus 32GB chính hãng
                                            </a>
                                            <p>Giá: 11.990.000 VND</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tintuc">
                                <div class="tintuc2">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/iphone111.png" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                Iphone 11 Pro max
                                            </a>
                                            <p>Giá: 30.000.000₫</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="img-cn col-md-3 pt-5">
                            <img src="images/8plus.jpg" alt="">
                        </div>
                        <div class="textcn col-md-6 pt-5">
                            <div class="tieude pb">
                                <a href="#">
                                    <h4>Năm 2020 mua iPhone 8 chỉ vì giá rẻ: Liệu có dùng tốt?</h4>
                                </a>
                            </div>
                            <div class="postmeta pb-2">
                                <span>Ngọc Hải - Thứ 7 30/5/2020</span>
                            </div>
                            <div class="noidung1">
                                <p>Năm 2020 mua iPhone 8 chỉ vì giá rẻ liệu có dùng tốt? Đây là câu hỏi mà hiện tại không ít người dùng đang cùng chung thắc mắc. Chính vì thế, để giúp bạn tháo gỡ mối bận tâm trong lòng cũng như đưa ra sự tư vấn sát sườn
                                    nhất, dưới đây, Di Động Thông Minh gửi đến bạn đọc bài phân tích, đánh giá chi tiết về các vấn đề xoay quanh điện thoại iPhone 8
                                </p>
                            </div>
                            <div class="xemthem pt-5 text-center">
                                <button>Xem thêm tin mới</button>
                            </div>
                        </div>
                        <div class="textcn1 col-md-3">
                            <div class="tintuc">
                                <div class="tintuc2">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/iphone11white.png" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                Điện thoại iPhone 11 64GB
                                            </a>
                                            <p>Giá: 21.990.000₫</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tintuc">
                                <div class="tintuc2">
                                    <div class="row">
                                        <div class="img-tieude col-md-3 pt-4">
                                            <img src="images/SEGray1.png" alt="">
                                        </div>
                                        <div class="text-tieude col-md-6 pt-4">
                                            <a href="#">
                                                Apple iPhone SE 64GB Black
                                            </a>
                                            <p>Giá: 12.990.000₫</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <% include ../partials/footer %>
    </div>
    <script>
        $(document).ready(function() {
            $('body').append('<div id="toTop"><i class="fa fa-angle-up" aria-hidden="true"></i></div>');
            $(window).scroll(function() {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function() {
                $("html, body").animate({
                    scrollTop: 0
                }, 1000);
                return false;
            });
        });
        function changeProductlist(type) {
            document.getElementById(type).style.display = 'block';
            switch (type) {

                case 'myiphone':
                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';


                    break;
                case 'myipad':

                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';
                    break;
                case 'mymacbok':

                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';
                    break;
                case 'mywatch':
                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';
                    break;
                case 'duoi5':
                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';
                    break;
                case 'tu5den10':
                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';
                    break;
                case 'tu10den20':
                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tren20').style.display = 'none';
                    break;
                case 'tren20':
                    document.getElementById('myipad').style.display = 'none';
                    document.getElementById('myiphone').style.display = 'none';
                    document.getElementById('mymacbok').style.display = 'none';
                    document.getElementById('myactive').style.display = 'none';
                    document.getElementById('mywatch').style.display = 'none';
                    document.getElementById('duoi5').style.display = 'none';
                    document.getElementById('tu5den10').style.display = 'none';
                    document.getElementById('tu10den20').style.display = 'none';
                    break;
            }
        }
    </script>
</body>
</html>